@import "variables";
@import "responsive/citas_responsive";

#citas-section {
  background-color: $primaryColor;
  text-align: center;
}

#citas-section h1 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

#citas-container {
  background-color: $secondaryColor;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.1rem solid black;

  align-items: center;
  overflow-y: auto;
}

.cita {
  background-color: #d9d9d9;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  border: 0.1rem solid black;
}

.cita * {
  min-width: 0;
}

.cita-img {
  width: auto;
  height: auto;
  flex-basis: 20%;
  max-height: 100%;
  max-width: 50%;
  border-radius: 0.1rem;
  align-self: center;
  padding: 0.5rem;
}

.cita-section1 {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cita-section2 {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cita-options {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-left: 0.1rem SOLID black;
}

.cita-options a {
  min-width: 0;
}
