@import "variables";
#faq-section {
  background-color: $primaryColor;
  text-align: center;
  height: 100%
}

#faq-section h2 {
  margin: 0;
  padding-top: 1rem;
  font-size: 2rem;
}

#faq-section details {
  width: 70%;
  margin: 3rem auto;
}

#faq-section details summary {
  padding: 0.2rem;
  font-size: 1.8rem;

  color: white;
}

#faq-section summary {
  background-color: $secondaryColor;
  margin-bottom: 1rem;
}

#faq-section details {
  font-size: 1.3rem;
}
