<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/aboutUs.css" />
    <link rel="stylesheet" href="../css/nav_responsive.css" />
    <link rel="stylesheet" href="../css/aboutUs_responsive.css" />
    <link
      rel="stylesheet"
      href="../resources/icons/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <nav>
      <div id="nav-img-container">
        <img src="../resources/images/icon.gif" />
      </div>
      <div id="nav-menu-section">
        <a href="../index.html" id="nav-menu-section-item-1">Inico</a>
        <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
        <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
        <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
        <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
      </div>
      <div id="nav-login-section">
        <a href="login.html" class="button">Inicio Sesión</a>
      </div>
      <div class="menu-desplegable">
        <i class="bi bi-list"></i>
        <div class="menu-desplegable-content">
          <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
          <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
          <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
          <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
        </div>
      </div>
    </nav>
    <section id="about-us-section">
      <main id="text-container">
        <h2>¿Quiénes somos?</h2>
        <p>
          Somos una empresa de sanidad privada, donde nuestra prioridad es dar el mejor servicio y
          diagnóstico a nuestros clientes, a través de videoconferencias.
        </p>
        <p>Con la salud no se juega, déjala en nuestras manos.</p>
      </main>
      <div id="image-container">
        <img src="../resources/images/doctors-talking-min-compressed.png" alt="imagen" />
      </div>
    </section>
  </body>
</html>
