<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis citas</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/citas.css" />
    <link
      rel="stylesheet"
      href="../resources/icons/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <nav>
      <div id="nav-img-container">
        <img src="../resources/images/icon.gif" />
      </div>
      <div id="nav-menu-section">
        <a href="../index.html" id="nav-menu-section-item-1">Inico</a>
        <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
        <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
        <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
        <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
      </div>
      <div id="nav-login-section">
        <a href="login.html" class="button">Inicio Sesión</a>
      </div>
      <div class="menu-desplegable">
        <i class="bi bi-list"></i>
        <div class="menu-desplegable-content">
          <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
          <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
          <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
          <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
        </div>
      </div>
    </nav>
    <section id="citas-section">
      <h1>Mis citas</h1>
      <div id="citas-container">
        <div class="cita">
          <img class="cita-img" src="../resources/images/doc1.png" alt="foto" />
          <div class="cita-section1">
            <span class="cita-section1-docname">Giordi Gónzalez</span>
            <span class="citas-section1-starts">★★★★★</span>
          </div>
          <div class="cita-section2">
            <span class="cita-section2-date">10/10/2023</span>
            <span class="cita-section2-hour">De 17:00 a 18:00</span>
          </div>
          <div class="cita-options">
            <a class="bi bi-gear"></a>
            <!--<a class="bi bi-x-lg"></a>-->
            <a>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Línea diagonal izquierda -->
                <line x1="1" y1="1" x2="23" y2="23" stroke="black" stroke-width="2"/>
                <!-- Línea diagonal derecha -->
                <line x1="23" y1="1" x2="1" y2="23" stroke="black" stroke-width="2"/>
              </svg>
            </a>
          </div>
        </div>
        <!--  ----------------------------------------------->
        <div class="cita">
          <img class="cita-img" src="../resources/images/doc2.png" alt="foto" />
          <div class="cita-section1">
            <span class="cita-section1-docname">Alicia Sierra</span>
            <span class="citas-section1-starts">★★★★☆</span>
          </div>
          <div class="cita-section2">
            <span class="cita-section2-date">20/10/2023</span>
            <span class="cita-section2-hour">De 12:00 a 12:30</span>
          </div>
          <div class="cita-options">
            <a class="bi bi-gear"></a>
            <!--<a class="bi bi-x-lg"></a>-->
            <a>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Línea diagonal izquierda -->
                <line x1="1" y1="1" x2="23" y2="23" stroke="black" stroke-width="2"/>
                <!-- Línea diagonal derecha -->
                <line x1="23" y1="1" x2="1" y2="23" stroke="black" stroke-width="2"/>
              </svg>
            </a>
          </div>
        </div>

        <div class="cita">
          <img class="cita-img" src="../resources/images/doc2.png" alt="foto" />
          <div class="cita-section1">
            <span class="cita-section1-docname">Alicia Sierra</span>
            <span class="citas-section1-starts">★★★★☆</span>
          </div>
          <div class="cita-section2">
            <span class="cita-section2-date">20/10/2023</span>
            <span class="cita-section2-hour">De 12:00 a 12:30</span>
          </div>
          <div class="cita-options">
            <a class="bi bi-gear"></a>
            <!--<a class="bi bi-x-lg"></a>-->
            <a>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Línea diagonal izquierda -->
                <line x1="1" y1="1" x2="23" y2="23" stroke="black" stroke-width="2"/>
                <!-- Línea diagonal derecha -->
                <line x1="23" y1="1" x2="1" y2="23" stroke="black" stroke-width="2"/>
              </svg>
            </a>
          </div>
        </div>

        <div class="cita">
          <img class="cita-img" src="../resources/images/doc2.png" alt="foto" />
          <div class="cita-section1">
            <span class="cita-section1-docname">Alicia Sierra</span>
            <span class="citas-section1-starts">★★★★☆</span>
          </div>
          <div class="cita-section2">
            <span class="cita-section2-date">20/10/2023</span>
            <span class="cita-section2-hour">De 12:00 a 12:30</span>
          </div>
          <div class="cita-options">
            <a class="bi bi-gear"></a>
            <!--<a class="bi bi-x-lg"></a>-->
            <a>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Línea diagonal izquierda -->
                <line x1="1" y1="1" x2="23" y2="23" stroke="black" stroke-width="2"/>
                <!-- Línea diagonal derecha -->
                <line x1="23" y1="1" x2="1" y2="23" stroke="black" stroke-width="2"/>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <a href="" class="button">Nueva Cita</a>
    </section>
  </body>
</html>
