<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preguntas Frecuentes</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/faq.css" />
    <link rel="stylesheet" href="../css/nav_responsive.css" />
    <link
      rel="stylesheet"
      href="../resources/icons/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <nav>
      <div id="nav-img-container">
        <img src="../resources/images/icon.gif" />
      </div>
      <div id="nav-menu-section">
        <a href="../index.html" id="nav-menu-section-item-1">Inico</a>
        <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
        <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
        <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
        <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
      </div>
      <div id="nav-login-section">
        <a href="login.html" class="button">Inicio Sesión</a>
      </div>
      <div class="menu-desplegable">
        <i class="bi bi-list"></i>
        <div class="menu-desplegable-content">
          <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
          <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
          <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
          <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
        </div>
      </div>
    </nav>
    <section id="faq-section">
      <h2>Preguntas Frecuentes</h2>

      <details>
        <summary>¿Están seguras las conversaciones con mi médico?</summary>
        <p>
          ¡Tenlo por seguro! Las conversaciones se almacenan cifradas usando un algoritmo de
          derivado de clave. Es decir, sólamente tú puedes desencriptarlas. ¡Ni siquieras nosotros!
        </p>
      </details>
      <details>
        <summary>¿Cómo se asegura la confidencialidad de mis videoconsultas médicas?</summary>
        <p>
          Todas las videoconsultas se realizan a través de una conexión segura y los datos se cifran
          con un protocolo robusto. Garantizamos la confidencialidad de tus conversaciones médicas.
        </p>
      </details>
      <details>
        <summary>¿Puedo acceder a un historial de mis videoconsultas anteriores?</summary>
        <p>
          Sí, mantendremos un historial cifrado de tus videoconsultas para que puedas acceder a
          ellas en cualquier momento. Tu privacidad es nuestra prioridad.
        </p>
      </details>
    </section>
  </body>
</html>
