<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis citas</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/reservaCita.css" />
    <link rel="stylesheet" href="../css/nav_responsive.css />
    <link
      rel="stylesheet"
      href="../resources/icons/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <nav>
      <div id="nav-img-container">
        <img src="../resources/images/icon.gif" />
      </div>
      <div id="nav-menu-section">
        <a href="../index.html" id="nav-menu-section-item-1">Inico</a>
        <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
        <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
        <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
        <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
      </div>
      <div id="nav-login-section">
        <a href="login.html" class="button">Inicio Sesión</a>
      </div>
      <div class="menu-desplegable">
        <i class="bi bi-list"></i>
        <div class="menu-desplegable-content">
          <a href="citas.html" class="nav-menu-section-item-2">Mis citas</a>
          <a href="especialistas.html" class="nav-menu-section-item-3">Especialistas</a>
          <a href="aboutUs.html" class="nav-menu-section-item-4">Sobre nosotros</a>
          <a href="faq.html" class="nav-menu-section-item-5">Preguntas Frecuentes</a>
        </div>
      </div>
    </nav>
    <section>
      <div id="image-continer"></div>
      <form action="">
        <label for="input-boton-especialidad"></label>
      </form>
    </section>
  </body>
</html>
